<style>
   
    footer.footer-new {
        background: #dcdcdc;
        position: fixed;
        bottom: 0;
        width: 100%;
    }
    .color-correction {
        color: #000;
        padding: 20px;
    }
</style>
<footer class="footer-new">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 color-correction">
                <script>document.write(new Date().getFullYear())</script> © NAC Jewellers.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block color-correction">
                    Designed & Developed by Sundar Infographic Analytics
                </div>
            </div>
        </div>
    </div>
</footer>