.login-logo {
    width: 40% !important;
    margin: 15px auto;
    display: block;
}
.width100{
    width: 100%;
}
.box{
    border: 1px solid #eee;
    padding: 30px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background: #fff;
    
}
p.card-text {
    border: 1px solid #eee;
    border-radius: 10px;
    margin: 20px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
}
.man-img{
    position: absolute;
    bottom: 0;
    width: 20%;
    right: 13%;
}
p.card-text:hover {
    background: #fff;
    color: #000;
}
p.card-text:hover .svg{
    color: #000 !important;
}
@media screen and (min-width:1366px){
    .desktop-vmiddle {
        position: relative;
        top: 25%;
        text-align: center;
        margin: 0 auto;
    }
    .box{
        width: 50%;
    }
}
@media screen and (min-width:320px) and (max-width:768px){
    .mobpad{
        height: 100% !important;
    }
    .mobpadding{
        padding-bottom: 50px;
    }
    .man-img{
        bottom: -68%;
        width: 30%;
        right: 0%;
    }
}
@media screen and (min-width:768px) and (max-width:1366px){
    .man-img{
       right: 0;
    }
    p.card-text div{
        padding: 20px 0 !important;
    }
    .box{
        width: 65%;
    }
}