.upload-button {
    /* Used to position the input */
    position: relative;

    /* Center the content */
    align-items: center;
    display: flex;

    /* Border */
    border: 1px solid #d1d5db;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
}

.upload-button__input {
    /* Take the full size */
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;

    /* Make it transparent */
    opacity: 0;
}

.upload-button__icon {	
    margin-right: 0.5rem;
	text-align: center;
	background-image: url("../images/uploadcloud.jpg");	
	width:100%;
	background-repeat: no-repeat;
	height:300px;
}
.uplfile
{
	text-align: left;
	font-size: 20px;
	padding: 0.25rem 0.5rem;


}
.import
{
	text-align: right;
	

}